.sectionPageCart {
  display: block;
  justify-content: center;
}

.cartPage {
  display: flex;
  justify-content: center;
}

.carrinholista {
  align-items: center;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 5px 3px #06093ec9;
  color: black;
  display: inline-block;
  flex-wrap: wrap;
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 2px;
  padding: 0.5rem;
  text-align: center;
  width: 1500px;
}

.listacarrinho {
  align-items: center;
  border: 3px solid green;
  border-radius: 10px;
  box-shadow: 50px solid black;
  display: inline-block;
  flex-wrap: wrap;
  font-size: 15px;
  font-weight: 500;
  height: 25rem;
  margin-left: 50px;
  margin-top: 10px;
  padding: 10px;
  width: 150px;
}

.listacarrinho img {
  width: 7rem;
}

.finalizar {
  align-items: center;
  display: flex;
  justify-content: center;
}

.finalizar button {
  background-color: green;
  border-radius: 20px;
  color: black;
  font-size: 20px;
  font-weight: 800;
  margin-left: 20px;
  width: 150px;
}

.buttons button {
  background-color: green;
  color: black;
  font-size: 20px;
  font-weight: 800;
  margin-left: 10px;
  width: 30px;
}

.buttons {
  font-size: 20px;
  font-weight: 800;
}
